<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="gymcheckinConnectionString" connectionString="Data Source=gymcheckin.mssql.somee.com;Initial Catalog=gymcheckin;Persist Security Info=True;User ID=joericlaes_SQLLogin_1;Password=hornyopa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>